.desktop {
  background-repeat: round;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(bg\ DOTA\ -2.png);
  background-size: 100%;
  background-repeat: repeat-y;
  width: 100%;
  height: 100vh;
}
.mainbody {
  height: 100vh;
}
nav {
  width: 100%;
 
}
#followupnav-2{
    margin-top: 25%;
    display: flex;
    align-items: baseline;
    height: 56px;
    margin-left: 58px;
    margin-right: 58px;
}
#followupnav-3{
    margin-top: 15%;
    display: flex;
    align-items: baseline;
    height: 56px;
    margin-left: 58px;
    margin-right: 58px;
}
#group-1 {
  display: flex;
  align-items: baseline;
  height: 56px;
  margin-top: 3%;

  height: 56px;
  margin-left: 58px;
  margin-right: 58px;
}
#event_header {
  margin-right: auto;

  font-family: "Inter", sans-serif;
  width: 190.9723663330078px;
  height: 48px;

  margin-left: 3%;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
#B_login {
  background-color: transparent;
  margin-right: 3%;
  border: none;
  width: 183px;
  height: 48px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 100px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
}
#subbody-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
align-items: center;

  /* border-radius: 40px; */
  flex-direction: column;
}
#placeholder-1 {
  width: 662px;
  height: 268px;
  border-radius: 40px;
  border: 1px;
  box-shadow: 14px 10px 24px -1px #00000040;
  background: linear-gradient(
      144.1deg,
      rgba(217, 217, 217, 0.6) 20.15%,
      rgba(217, 217, 217, 0.2) 79.01%
    ),
    linear-gradient(
      128.72deg,
      rgba(255, 255, 255, 0.55) 15.13%,
      rgba(220, 135, 114, 0.55) 83.9%
    );
    text-align: center;
    
}
#heading {top: 300px;
  width: 588px;
  height: 268px;
   opacity: 90%;
    font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 67px;
  letter-spacing: 6px;
  text-align: center;
  color: #ffffff;
}

#ApplyButton {
  margin-top: 15px;
  width: 662px;
  height: 68px;
  border-radius: 40px;
  border: 1px;
  background: linear-gradient(
      90.98deg,
      rgba(217, 217, 217, 0.6) 13%,
      rgba(217, 217, 217, 0.3) 86.94%
    ),
    linear-gradient(
      91.25deg,
      rgba(255, 255, 255, 0.7) 25.72%,
      rgba(255, 255, 255, 0) 75.16%
    );
  border: 1px solid;

  border-image-source: linear-gradient(
    91.25deg,
    rgba(255, 255, 255, 0.7) 25.72%,
    rgba(255, 255, 255, 0) 75.16%
  );
  box-shadow: 10px 8px 24px -1px #00000040;
  font-family: "Inter", sans-serif;
  font-size: 31px;
  font-weight: 800;
  line-height: 38px;
  letter-spacing: 0.155em;
  text-align: center;
  color: #ffffff;
  
}
#subbody-2 {
  margin-top: 5%;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
#placeholder-2 { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#rectangle-9 {
  width: 1300px;
  height: 802px;

  border-radius: 40px;
  border: 1px;
  background: linear-gradient(
      144.1deg,
      rgba(217, 217, 217, 0.6) 20.15%,
      rgba(217, 217, 217, 0.2) 79.01%
    ),
    linear-gradient(
      128.72deg,
      rgba(255, 255, 255, 0.55) 15.13%,
      rgba(220, 135, 114, 0.55) 83.9%
    );
  border: 1px solid;

  border-image-source: linear-gradient(
    128.72deg,
    rgba(255, 255, 255, 0.55) 15.13%,
    rgba(220, 135, 114, 0.55) 83.9%
  );
  box-shadow: 14px 10px 24px -1px #00000040;
   overflow: hidden;
}

#bodytext {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
#subbody-3{  
    margin-top:5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
align-items: center;
  overflow: hidden;

}
#cardholder{
display: flex;

    align-items: center;
margin-left: 5%;
margin-right: 5%;
  
 
    
}

#card-1,#card-2,#card-3{
    
    width: 389px;
height: 415px;
top: 359px;
border-radius: 40px;
background: linear-gradient(144.1deg, rgba(217, 217, 217, 0.6) 20.15%, rgba(217, 217, 217, 0.2) 79.01%),
linear-gradient(128.72deg, rgba(255, 255, 255, 0.55) 15.13%, rgba(220, 135, 114, 0.55) 83.9%);
border: 1px solid;

border-image-source: linear-gradient(128.72deg, rgba(255, 255, 255, 0.55) 15.13%, rgba(220, 135, 114, 0.55) 83.9%);

box-shadow: 14px 10px 24px -1px #00000040;
margin-left: 3%;

}
#footer{
    width: 100%;
    height: 30vh;
}
